header {
    background: #ECF2F2;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 5px 20px;  
    height: 60px;        
}

.logo {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    cursor: pointer;
}


.titulo {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    flex-grow: 1;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}

/* .a, .a1 {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: bold;
    margin-left: 25px;
} */


.sub {
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;    
}

body{
    background: #0f3459;
    margin: 0;
    padding: 0;
}

footer {
    background: #323232;
    position: fixed;
    bottom: 0;
    left: 0;         
    width: 100%;     
    color: white;
    font-family: Arial, sans-serif;
    display: flex;  
    justify-content: center; 
    align-items: center;     
    gap: 10px;
    padding: 5px 0;
    font-size: 14px;
}


.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-color: #0f3459;
}

.login-card {
    background-color: #EEF2F5;
    width: 450px;
    border-radius: 12px; 
    overflow: hidden;  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.login-header {
    background-color: #F18800;
    border-bottom: 8px solid #D17600; 
    padding: 15px 0;
    text-align: center;
}

.login-header h2 {
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;              
}


.login-input {
    background-color: #12375C;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    outline: none;
}

.login-input::placeholder {
    color: white;
    opacity: 1;
}

.btn-entrar {
    background-color: #F18800;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    align-self: center;
    font-family: Arial, sans-serif;
}

.btn-entrar:hover {
    background-color: #D17600;
}

::-ms-reveal {
    border: 1px solid white;
    border-radius: 80%;
    box-shadow: 0 0 1px white;
    color: white;
}
